In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
data = pd.read_excel('D:/kuliah/Kecerdasan Buatan/shooping_demo.xls')

In [70]:
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [71]:
data.shape

(50, 4)

In [72]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [73]:
PYes = 41/50
PNo = 9/50

In [74]:
print (PYes)

0.82

In [75]:
print (PNo)

0.18

In [76]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [77]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 14/50
PWeekday = 11/50
PWeekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [78]:
# P(A/B) ?
# P (B) = PWeekday
# P (A) = No Buy
# P(B/A) = P Weekday/NoBuy

In [79]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print (PNoWeekday)

0.1818181818181818

In [80]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print (PYesWeekday)

0.8181818181818181

In [81]:
# Probabilitas (Buy | Weekday) > dibanding dengan Probabilitas (No Buy | Weekday)
print (PNoWeekday)
print (PYesWeekday)

0.1818181818181818
0.8181818181818181

In [82]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# A = NoBuy
# P(A/B) = P(NoBuy|DiscountYes, Free Delivery Yes, PDayHoliday)

In [83]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [84]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [85]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [86]:
PNoFreeDeliveryNo = 4/9
PYesFreeDeliveryNo = 5/9

PNoFreeDeliveryYes = 10/41
PYesFreeDeliveryYes = 31/41

PNoFreeDelivery = 14/50
PYesFreeDelivery = 36/50

In [87]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = NoBuy = PNo
# P(B) = PYesDiscount,PYesFreeDelivery,PHoliday
# P(B|A)1 = (PHoliday| No Buy) = PHolidayNo
# P(B|A)2 = (PYesDiscount| No Buy) = PYesDiscountNo
# P(B|A)3 = (PYesFreeDelivery| No Buy) = PYesFreeDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesFreeDelivery

#ditanyakan P(A/B) ?
#Rumus
# P(A/B) = P(B/A)*P(A)/P(B)

In [88]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesFreeDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesFreeDelivery)
print(PNoBuy1)

0.22268540787059302

In [89]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PYesDiscount,PYesDelivery,PHoliday
# P(B|A)1 = (PHoliday| Buy) = PHolidayYes
# P(B|A)2 = (PYesDiscount| Buy) = PYesDiscountYes
# P(B|A)3 = (PYesDelivery| Buy) = PYesDeliveryYes
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

#ditanyakan P(A/B) ?
#Rumus
# P(A/B) = P(B/A)*P(A)/P(B)

In [90]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesFreeDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesFreeDelivery)
print (PBuy2)

1.4469716284112473

In [91]:
# probablity of No Buy = 0.22268540787059302
# probablity of Buy = 1.4469716284112473

In [94]:
PSum = PNoBuy1+PBuy2
print(PSum)

1.6696570362818404

In [95]:
PBuy = (PBuy2/PSum) *100
print(PBuy)

86.66280541263185

In [97]:
PNoBuy = (PNoBuy1*PSum) *100
print(PNoBuy)

37.18082581284271